@use '../base/mixins' as m;
.contenedor{
    .contenedor-grid{
        display: flex;
        justify-content: space-between;
        gap: 1em;
        @include m.desktop{
            display: flex;
            flex-direction: column;
        }
    }
}