@use '../base/mixins' as m;
@use '../base/colores' as c;
.contenedor{
    .contenedor-centrar{
        .col-5{
            @include m.grid(5,1em);
            @include m.desktop{
                @include m.grid(3,1em);
            }
            @include m.tablet{
                @include m.grid(2,1em)
            }
            @include m.telefono{
                grid-template-columns: 100%
            }
            div{
                @include m.neo(3px);
                min-height: 17vh;
                overflow: hidden;
                border: 1.59px solid c.$Slate-500;
                border-radius: .5em;
                @extend %grid-center;
                img{
                    display: block;
                    width: 100%;
                    object-fit: cover;  
                }
            } 
        }
    }
}