@use '../base/colores' as c;
@use '../base/mixins' as m;
@use '../base/variables' as v;

.contenedor{
    .contenedor-centrar{
        .contenedor-conac{
            width: 100%;
            @include m.grid(4,v.$separacion);
            
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.7em;
                text-align: center;
                height: 5em;
                background-image: url(/img/pngegg.png);
                background-position: center;
                background-size: cover;
                text-shadow: 2px 2px .2em c.$Slate-600;
                font-weight: 600;
                border-radius: .5em;
                border: solid c.$Slate-700;
                @include m.neo(.145em);
                color: c.$Gray-100;
            }
            @include m.desktop{
                grid-template-columns: 100%;
            }
        }
    }
}