@use '../base/mixins' as m;
@use '../base/colores' as c;
.contenedor{
    &-article{
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include m.desktop{
            flex-direction: column;
            align-items: center;
            margin-bottom: 2em;
        }
    }
}