@use '../base/mixins' as m;
@use '../base/colores' as c;
.contenedor{
    .contenedor-centrar{
        .Noticias-Grid{
            display: flex;
            gap: 3em;
            @include m.dsktop{
                display: flex;
                flex-direction: column;
            }
            .card-contenido{
                max-width: 100%;
                background-color: c.$Slate-50;
                border: 1px solid c.$Gray-300;
                @include m.neo(4px);
                border-radius: .6em;
                .card__Not{
                    padding: 1em;
                    .titulo{
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: .5em;
                        font-size: 1.2em;
                        :hover{
                            color: c.$Pink-600;
                        }
                    }
                    .text-contenido{
                        line-height: 1.898em;
                    }
                    .action{
                        background-color: c.$Pink-500;
                        color: c.$Gray-50;
                        text-transform: uppercase;
                        text-align: center;
                        padding: .4em 0;
                        margin-top: .5em;
                        font-weight: 600;
                        border-radius: .6em;
                    :hover{
                            background-color: c.$Pink-600;
                        }
                    }
                }
            }
        }
    }
}
.img__not{
    width: 100%;
    object-fit: cover;
    object-position: cover;
    background-color: gray;
    img{
        max-width: 100%;
        max-height: 18em;
    }
}
