USE [Administracion]
GO
/****** Object:  Table [dbo].[YTPresupuestoServidor]    Script Date: 02/07/2024 12:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YTPresupuestoServidor](
	[SAyuntamiento] [char](3) NULL,
	[SEjercicio] [int] NULL,
	[SConsecut] [int] NULL,
	[SNumeroEmpleado] [nvarchar](10) NULL,
	[SNumeroEmpleadoAnt] [nvarchar](10) NULL,
	[SNumeroPlaza] [nvarchar](10) NULL,
	[SNombre] [nvarchar](50) NULL,
	[SApellidoPaterno] [nvarchar](50) NULL,
	[SApellidoMaterno] [nvarchar](50) NULL,
	[SRfc] [nvarchar](15) NULL,
	[SHomoclave] [nvarchar](3) NULL,
	[SHaciCodPos] [nvarchar](5) NULL,
	[SCurp] [nvarchar](30) NULL,
	[STipoNomina] [char](2) NULL,
	[SClaveProgramatica] [nvarchar](25) NULL,
	[SCategoria] [nvarchar](10) NULL,
	[SDireccion] [nvarchar](3) NULL,
	[SUnidad] [int] NULL,
	[STipoBanco] [char](2) NULL,
	[SNumeroRegistro] [nvarchar](20) NULL,
	[STipoRegistro] [nvarchar](1) NULL,
	[SFechaAlta] [smalldatetime] NULL,
	[SSindicalizado] [nvarchar](1) NULL,
	[SIssemym] [nvarchar](10) NULL,
	[SCapiIndi] [nvarchar](1) NULL,
	[SCapIndObl] [float] NULL,
	[SCapIndVol] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YTPresupuestoServidor_Detalle]    Script Date: 02/07/2024 12:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YTPresupuestoServidor_Detalle](
	[PAyuntamiento] [char](3) NULL,
	[PServidorPublico] [char](6) NULL,
	[PClaveProgramatica] [char](25) NULL,
	[PTipoNomina] [int] NULL,
	[PTipoPers] [char](4) NULL,
	[PPartida] [int] NULL,
	[PClasTabu] [int] NULL,
	[PQuincena] [int] NULL,
	[PMes] [int] NULL,
	[PImporte] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
