@import url(Colores.css);
.contenedor-conac{width: 100; display: grid; place-items: center;}
.contenedor-conac-centrar{width: 85%;}
.contenedor-conac h1{text-align: center;font-size: 2.8em; margin: .5em 0 .5em 0;
                    font-weight:600;/*color: var(--Slate-700);*/text-shadow:.01em .01em .1em var(--Gray-600);}
.contenedor-layer{width: 100%;}
.contenedor-layer img{width: 100%;height: 20vh;}
@media (max-width: 1028px){.contenedor-conac h1{font-size: 1.5em;}}