@import 'Colores.css';
:root{
    --color-body:#f0f0f0;
    --color-nav:#70635A;
    --color-text:#323232;
}
body{
    background: var(--Gray-200);
}
.contenedor__principal{
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
}
.contenedor__principal .gallery img{
    width: 100%;
}
/** Contenedor de Redes  */
.contenedor-redes{
    display: flex;
    flex-flow: row wrap;
}

.nav__secondary{
    width: 100%;
    margin-top: .5em;
}
.nav__secondary .contenedor__barra .barra{
    max-width: 100%;
    height: .8em;
}
/* ? Info */
.header__secundario{
    width: 100%;
    background: rgb(92,92,92);
    background: rgb(45,45,45);
    background: linear-gradient(90deg, rgba(45,45,45,1) 0%, rgba(124,124,124,1) 49%, rgba(103,103,103,1) 100%);
    display: grid;
    place-items: center;
    padding: 1.5em;
}

.header__secundario .contenedor__principal__flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .header__secundario .font-controls{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
} */
/* .header__secundario .font-control {
    color: #484848;
    font-weight: 600;
    background-color: #e1800a;
    padding: .5em 2.5em;
    cursor: pointer;
    box-shadow: 0 .5em  #ffc57e;
    transition: all .1s ease-in-out;
    border-radius: .2em;
} */
.btn-gray i, .btn-invert i{
    cursor: pointer;
    font-size: 1.5em;
    background-color: #ec4899;
    color: white;
    border: solid .1em #2828289c;
    padding: .1em .1em;
    border-radius: .5em;
    font-weight: 700;   
}

.header__secundario .font-control:hover{
    background-color: #F49929;
    color: white;
    font-weight: 100;
}
.header__secundario .font-control:active{
    transform: translateY(.2em);
    box-shadow: 0 0 #f0f0f0;
}

.header__secundario .contenedor__principal ul{
    display: flex;
    flex-flow: row nowrap;
}
.header__secundario .contenedor__principal ul li a{
    text-transform: uppercase;
    padding: 1.2em;
    margin: 0 1em;
}
.header__secundario .contenedor__principal ul li{
    border-radius: 1em;
    transition: all .2s ease-in-out;
}
.header__secundario .contenedor__principal ul li:hover{
    transform: scale(1);
    background-color: #2B3044;
    box-shadow: 0px 1px 2px #2B3044,
    0px 4px 16px #2B3044;
    border-radius: 1em;
}
@media screen and (max-width:400px){
    .escudo_mur{
        max-width: 3.2em;
        position: absolute;
        top: 3em;
    }
}
@media screen and (max-width:520px){
    .escudo{
        max-width: 2em;
        position: absolute;
        top: 2em;
    }
}