@use 'variables' as v;nter{
    display: grid;
    place-items: center;
}
%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}
@mixin telefono{
    @media (max-width: v.$telefono){
        @content;
    }
}
@mixin telefonoSlim{
    @media (max-width: v.$telefonoSlim){
        @content;
    }
}
@mixin tablet{
    @media (max-width: v.$tablet){
        @content;
    }
}
@mixin desktop{
    @media (max-width: v.$desktop){
        @content;
    }
}
@mixin neo($eje){
    // border-radius: $radius;
    // background: #e0e0e0;
    box-shadow: $eje $eje ($eje*2.665) #00000089;
}
