@use 'variables' as v;
%grid-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
%grid-3{
    display:grid;
    grid-template-columns:repeat(3,1fr);
}
%grid-center{
    display: grid;
    place-items: center;
}
@mixin telefono{
    @media (max-width: v.$telefono){
        @content;
    }
}
@mixin telefonoSlim{
    @media (max-width: v.$telefonoSlim){
        @content;
    }
}
@mixin tablet{
    @media (max-width: v.$tablet){
        @content;
    }
}
@mixin desktop{
    @media (max-width: v.$desktop){
        @content;
    }
}
@mixin neo($eje){
    // border-radius: $radius;
    // background: #e0e0e0;
    box-shadow: $eje $eje ($eje*3) #00000048;
}
