@import 'Colores.css';
body{
    background-color: var(--Slate-100)
}
.contenedor__main__principal{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 1.2em;
}
.contenedor__main__secundario{
    width: 80%;
}
.contenedor__titulo{
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: var(--Red-500);
    text-transform: uppercase;
}
.contenedor__titulo__secundario{
    margin-top: .8em;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: var(--Slate-800);
}
.contenedor__ejercicio{
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #878787;
    box-shadow: .1em .1em .3em var(--Slate-950);
    padding: 2em 1em ;
}
.contenedor__ejercicio a{
    font-weight: 700;
    background-color: var(--Slate-600);
    padding: .5em;
    color: #FFF;
    border-radius: .5em;
}
.contenedor__ejercicio a:hover{
    box-shadow: 0 .1em .4em var(--Slate-800);
    background-color: var(--Slate-700);
    transition: .2s ease-in-out;
}
.contenedor__lista__conac{
    margin-top: 1em;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.contenedor__lista__conac ul{
    display: flex;
    gap: 1em;
}
.contenedor__lista__conac ul li{
    background-color: #70635A;
    padding: .5em 1em;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
.accordion{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 2em;
}
