.contenedor .contenedor-centrar .col-5 div {
  display: grid;
  place-items: center;
}

header, header .ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --color-body:#f0f0f0;
  --color-nav:#70635A;
  --color-text:#323232;
}

/* * */
header {
  width: 100%;
  background-color: var(--color-nav);
  font-size: 0.9em;
  position: sticky;
  z-index: 1;
  top: 0;
  color: #f3f4f6;
}

header .ul {
  gap: 1.5em;
}
header .ul .li div {
  display: flex;
}

.escudo_mur {
  position: relative;
  max-width: 5em;
  aspect-ratio: 10/9;
  top: 2em;
}

.escudo {
  position: relative;
  max-width: 4em;
  aspect-ratio: 8/9;
  top: 2em;
}

.nav .ul .li:hover .mini__secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15em;
}

.mini__secondary a {
  padding: 0.8em;
}

/*? Menu Flotante  */
.nav .ul .li .mini {
  display: none;
  position: absolute;
  width: 5em;
  background-color: #6b7280;
  transition: all 0.2s ease-in-out;
}

.nav .ul .li:hover .mini {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25em;
  box-shadow: 20px 20px 53.3px rgba(0, 0, 0, 0.537254902);
}

.mini a {
  padding: 0.6em;
  transition: all 0.2s ease-in-out;
  color: white;
}

.mini .elemento1:hover {
  background-color: #743089;
}

.mini .elemento2:hover {
  background-color: #FECC0D;
}

.mini .elemento3:hover {
  background-color: #EA5095;
}

.mini .elemento4:hover {
  background-color: #00A8E2;
}

.mini .elemento5:hover {
  background-color: #96C11F;
}

/** Menu Hamburgesa */
.header .button {
  display: none;
}

header .button {
  display: none;
  cursor: pointer;
}

/** Fin Menu Hamburguesa */
.btn-gray i, .btn-invert i, .font-control, .bi-facebook {
  cursor: pointer;
  font-size: 1.5em;
  background-color: #ec4899;
  color: white;
  border: solid 0.1em rgba(40, 40, 40, 0.6117647059);
  padding: 0.1em 0.1em;
  border-radius: 0.5em;
  font-weight: 700;
}

.font-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

/* ? Cierre Info */
.contenedor__principal {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.contenedor__principal .gallery img {
  width: 100%;
}

.contenedor-redes {
  display: flex;
  flex-flow: row wrap;
}

.nav__secondary {
  width: 100%;
  margin-top: 0.5em;
}

.nav__secondary .contenedor__barra .barra {
  max-width: 100%;
  height: 0.9em;
}

.header__secundario {
  width: 100%;
  background: #2d2d2d;
  background: linear-gradient(90deg, #2d2d2d 0, #7c7c7c 49%, #676767 100%);
  display: grid;
  place-items: center;
  padding: 1.5em;
}

.btn-gray i, .btn-invert i {
  cursor: pointer;
  font-size: 1.5em;
  background-color: #ec4899;
  color: #fff;
  border: 0.1em solid rgba(40, 40, 40, 0.6117647059);
  padding: 0.1em;
  border-radius: 0.5em;
  font-weight: 700;
}

.header__secundario .font-control:hover {
  background-color: #f49929;
  color: #fff;
  font-weight: 100;
}

.header__secundario .font-control:active {
  transform: translateY(0.2em);
  /* box-shadow:0 0 #f0f0f0 */
}

.header__secundario .contenedor__principal ul {
  display: flex;
  flex-flow: row nowrap;
}

.header__secundario .contenedor__principal ul li a {
  text-transform: uppercase;
  padding: 1.2em;
  margin: 0 1em;
}

.header__secundario .contenedor__principal ul li {
  border-radius: 1em;
  transition: 0.2s ease-in-out;
}

.header__secundario .contenedor__principal ul li:hover {
  transform: scale(1);
  background-color: #2b3044;
  /* box-shadow:0 1px 2px #2b3044,0 4px 16px #2b3044; */
  border-radius: 1em;
}

@media screen and (max-width: 400px) {
  .escudo_mur {
    max-width: 3.2em;
    position: absolute;
    top: 3em;
  }
}
@media screen and (max-width: 520px) {
  .escudo {
    max-width: 2em;
    position: absolute;
    top: 2em;
  }
}
@media screen and (max-width: 1024px) {
  .escudo {
    display: none;
  }
  .escudo_mur {
    max-width: 5em;
    position: absolute;
    top: 3em;
  }
  .header .contenedor__principal .h2 {
    display: none;
  }
  .contenedor-redes {
    display: none;
  }
  .header .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .nav {
    width: 100%;
    height: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .font-controls {
    width: 100%;
    margin-top: 1em;
    height: 0vh;
  }
  .header .nav.activo {
    height: 70vh;
    pointer-events: auto;
  }
  .header .ul {
    flex-direction: column;
  }
  .header .li {
    margin: 1rem 0;
  }
  .contenedor .contenedor-items .h1 {
    font-size: 1.4em;
  }
  .contenedor__principal {
    width: 80%;
  }
}
:root {
  --negro:#393939;
  --tipo-principal:Helvetica,Arial,sans-serif;
  --tipo-secundaria:Verdana;
  --font-size:1 ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro:#000000 ;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

figure, iframe, img, picture, video {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

a, b, blockquote, em, h1, h2, h3, h4, h5, h6, i, p, span, strong, u {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: #1acae1;
  color: var(--blanco);
}

::selection {
  background-color: #1acae1;
  color: var(--blanco);
}

button, form, input, label, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table, td, tr {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-family: var(--tipo-principal);
  -webkit-hyphens: auto;
  hyphens: auto;
  -font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background: #717171;
  border-radius: 10em;
}

body.bg-gray {
  filter: grayscale(1);
  transition: 0.4s ease-in-out;
}

body.bg-invert {
  filter: invert(100%);
  transition: 0.4s ease-in-out;
}

/* @charset "UTF-8";

@media (prefers-reduced-motion: reduce) {
*{
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
    vertical-align: baseline;
}

img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}
a{
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
p a {
    display: inline;
}
li {
    list-style-type: none;
}
html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}
::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
}
::selection {
    background-color: var(--negro);
    color: var(--blanco);
}
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--negro);
    line-height: 1.4em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
.contenedor {
  width: 100%;
  display: grid;
  place-items: center;
}
.contenedor .contenedor-centrar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor .contenedor-centrar .contenedor-titulo {
  margin: 4em 0;
}
.contenedor .contenedor-centrar .contenedor-titulo .titulo {
  font-size: 3.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #404040, 2px 2px 1px var #a3a3a3;
  font-weight: 600;
  color: #334155;
  overflow: hidden;
}
@media (max-width: 480px) {
  .contenedor .contenedor-centrar .contenedor-titulo .titulo {
    font-size: 2em;
  }
}
@media (max-width: 320px) {
  .contenedor .contenedor-centrar .contenedor-titulo .titulo {
    font-size: 1.5em;
  }
}

.footer {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 2em;
  background-image: url(https://img.freepik.com/vector-gratis/minimo-fondo-blanco-gris-lineas-onduladas_1017-25099.jpg?w=2000);
  background-position: bottom;
  background-size: cover;
}

.footer .contenedor__principal {
  display: grid;
  place-content: center;
  padding: 2em;
}

.footer .contenedor__principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.footer .contenedor__principal img {
  width: 60%;
  margin-bottom: 0.5em;
}

.footer .logo div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #abaaaa;
  text-align: center;
}

.footer .enlaces {
  display: grid;
  grid-column: 2/4;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  /*font-size: 1em;*/
  color: #70635A;
  font-weight: 600;
}

.footer .enlaces ul li {
  text-transform: uppercase;
}

.footer-2 {
  width: 100%;
  text-align: center;
  background: rgb(135, 135, 135);
  background: linear-gradient(45deg, rgb(135, 135, 135) 25%, rgb(217, 217, 217) 85%);
  font-weight: 600;
  padding: 1em;
  font-size: 1.1em;
}

@media screen and (max-width: 1400px) {
  .footer .enlaces {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1400px) {
  .footer .contenedor__principal {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .footer .logo {
    /* background-color: goldenrod; */
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 2em;
  }
  .footer .enlaces {
    grid-column: 2/2;
  }
}
.contenedor .contenedor-grid {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
@media (max-width: 1245px) {
  .contenedor .contenedor-grid {
    display: flex;
    flex-direction: column;
  }
}

.contenedor .contenedor-centrar .contenedor-conac {
  width: 100%;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(4, 1fr);
}
.contenedor .contenedor-centrar .contenedor-conac a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  text-align: center;
  height: 5em;
  background-image: url(/PaginaWeb/img/pngegg.webp);
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 0.2em #475569;
  font-weight: 600;
  border-radius: 0.5em;
  border: solid #334155;
  box-shadow: 0.145em 0.145em 0.386425em rgba(0, 0, 0, 0.537254902);
  color: #f3f4f6;
}
@media (max-width: 1245px) {
  .contenedor .contenedor-centrar .contenedor-conac {
    grid-template-columns: 100%;
  }
}

.contenedor .contenedor-centrar .Noticias-Grid {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1245px) {
  .contenedor .contenedor-centrar .Noticias-Grid {
    grid-template-columns: 100%;
  }
}
.contenedor .contenedor-centrar .Noticias-Grid .card-contenido {
  max-width: 100%;
  background-color: #f8fafc;
  border: 1px solid #d1d5db;
  box-shadow: 4px 4px 10.66px rgba(0, 0, 0, 0.537254902);
  border-radius: 0.6em;
}
.contenedor .contenedor-centrar .Noticias-Grid .card-contenido .card__Not {
  padding: 1em;
}
.contenedor .contenedor-centrar .Noticias-Grid .card-contenido .card__Not .titulo {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}
.contenedor .contenedor-centrar .Noticias-Grid .card-contenido .card__Not .titulo :hover {
  color: #db2777;
}
.contenedor .contenedor-centrar .Noticias-Grid .card-contenido .card__Not .text-contenido {
  line-height: 1.898em;
}
.contenedor .contenedor-centrar .Noticias-Grid .card-contenido .card__Not .action {
  background-color: #ef4444;
  color: #f9fafb;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4em 0;
  margin-top: 0.5em;
  font-weight: 600;
  border-radius: 0.6em;
}
.contenedor .contenedor-centrar .Noticias-Grid .card-contenido .card__Not .action :hover {
  background-color: #db2777;
}

.img__not {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: cover;
     object-position: cover;
  background-color: gray;
}
.img__not img {
  max-width: 100%;
  max-height: 18em;
}

.contenedor .contenedor-centrar .aviso-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1245px) {
  .contenedor .contenedor-centrar .aviso-grid {
    grid-template-columns: 100%;
  }
}

.contenedor .contenedor-centrar .col-5 {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1245px) {
  .contenedor .contenedor-centrar .col-5 {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .contenedor .contenedor-centrar .col-5 {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .contenedor .contenedor-centrar .col-5 {
    grid-template-columns: 100%;
  }
}
.contenedor .contenedor-centrar .col-5 div {
  box-shadow: 3px 3px 7.995px rgba(0, 0, 0, 0.537254902);
  min-height: 17vh;
  overflow: hidden;
  border: 1.59px solid #64748b;
  border-radius: 0.5em;
}
.contenedor .contenedor-centrar .col-5 div img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor-article {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1245px) {
  .contenedor-article {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
  }
}

.priv {
  background: linear-gradient(327deg, #878787 8%, #989696 17%, #a8a8a8 23%, #aeaeae 29%, #bababa 35%, #b2b2b2 40%, #c6c6c6 47%, #cfcfcf 61%, #858585 78%);
  margin-bottom: 2em;
  font-size: 1em;
}
.priv ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: row;
}
@media (max-width: 1245px) {
  .priv ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .priv ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .priv ul {
    display: grid;
    grid-template-columns: 100%;
  }
}
.priv ul li a {
  text-align: center;
  transition: 0.2s ease-in-out;
  padding: 1em 0;
  font-weight: 600;
}

.priva:hover {
  background-color: #743089;
  color: #e2e8f0;
}

.datos:hover {
  background-color: #c4579b;
  color: #e2e8f0;
}

.trami:hover {
  background-color: #96c11f;
  color: #e2e8f0;
}

.super:hover {
  background-color: #e8b900;
  color: #e2e8f0;
}

.traba:hover {
  background-color: #f49929;
  color: #e2e8f0;
}

.contenedor-Aviso {
  display: grid;
  gap: 5em;
  grid-template-columns: repeat(3, 1fr);
}
.contenedor-Aviso .Articulo-1 {
  grid-column: 1/3;
}
.contenedor-Aviso .Articulo-1 p {
  line-height: 2em;
  text-wrap: wrap;
}
.contenedor-Aviso .Articulo-1 h2 {
  font-weight: 600;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  font-size: 1.2em;
}
.contenedor-Aviso .Articulo-1 .Titulo-Secundario {
  margin-top: 2em;
}
.contenedor-Aviso .Articulo-2 iframe {
  height: 100%;
}
@media (max-width: 768px) {
  .contenedor-Aviso {
    display: grid;
    grid-template-columns: 100%;
    background-color: aqua;
  }
}

#swiper-1 .swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#swiper-1 .swiper-slide img {
  height: 14rem;
}

#swiper-1 {
  z-index: 0;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  #swiper-1 .swiper-slide img {
    display: block;
    width: 100%;
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 425px) {
  #swiper-1 .swiper-slide img {
    display: block;
    width: 100%;
    height: 7em;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
#swiper-2 {
  width: 24vw;
  z-index: 0;
}
#swiper-2 img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: solid 1px gray;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  object-fit: cover;
}
#swiper-2 .swiper-pagination-bullet {
  width: 1.3em;
  height: 1.3em;
  margin: 0 0.8em;
  background-color: red;
  border: solid 0.1em black;
}
@media (max-width: 1245px) {
  #swiper-2 {
    width: 80vw;
    z-index: 0;
  }
}
@media (max-width: 480px) {
  #swiper-2 {
    width: 80vw;
  }
}

#swiper-3 {
  width: 17vw;
  z-index: 0;
}
#swiper-3 .swiper-wrapper img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5em;
}
#swiper-3 .swiper-slide {
  border-radius: 0.5em;
}
#swiper-3 .swiper-pagination-bullet {
  width: 1.2em;
  height: 1.2em;
  margin: 0 1em;
  background-color: green;
  border: solid 0.1em gray;
}

#swiper-4 {
  width: 25em;
  height: auto;
  z-index: 0;
  grid-column: 2/3;
}

.item2 {
  background-color: blue;
}