@use '../custom' as *;

.encabezado-prin{
    @extend .d-flex, .justify-content-between;
    .logo{
        @extend .img-fluid;
        width: 8em;  
    }
}
.intra{
    width: 100%;
    // height: 20em;
    background-image: url('/Intranet/img/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
