@use '../custom' as *;
.encabezado-prin{
    @extend .d-flex, .justify-content-between;
    .logo{
        width: 15em; 
    }
}
.formulario{
    height: 50vh;
}
.logoveda, .logo-simga{
    width: 5%;
}
header{
    img{
        width: 10%;
    }
}
.full-height{
    height: 100svh;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 9.5em;
}
.LogoEscu{
    width: 5%;
}
.logo-mur{
    width: 5%;
}