:root{
  --lochinvar-50: #f3faf9;
  --lochinvar-100: #d7f0ed;
  --lochinvar-200: #afe0db;
  --lochinvar-300: #7fc9c3;
  --lochinvar-400: #54ada9;
  --lochinvar-500: #378986;
  --lochinvar-600: #2d7473;
  --lochinvar-700: #275e5e;
  --lochinvar-800: #234c4c;
  --lochinvar-900: #214040;
  --lochinvar-950: #0e2425;
}
*{
	margin: 0;
	padding: 0;
  font-family:system-ui;
}
body{
	margin: 0;
	padding: 0;
	font-family: Verdana;
}
.tabla{
  width: 80%;
  margin: 0 auto;
  margin-top: 3em;
  border: 2px solid #111;
  box-shadow: .4em .4em .8em #bebebe, -.4em -.4em .8em #ffffff;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.tabla .titulo{
  width: 100%;
  text-align: center;
  padding: 1em 0;
  text-transform: uppercase;
  border-bottom: 2px solid #111;
  font-weight: 600;
  font-size: 1.5em;
  background-color: var(--lochinvar-500);
  color: #ffffff;
}
.tabla .botones{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 1em;
  font-weight: 600;
  border-bottom: 2px solid #111;
}
.tabla input{
  width: 1em;
  height: 1em;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.tabla input:checked{
  background-color: var(--lochinvar-400);
  box-shadow: 0 3px 7px var(--lochinvar-300);
}
.tabla .lista select{
  border-radius: 4px;
  
  background-color: var(--lochinvar-400);
  font-weight: 700;
  color: #FFF;
  border: none;
  padding: .3em .5em;
  transition: all .2s ease-in-out;
}
.tabla .lista select:hover{
    background-color: #ebebeb;
    color: #111;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.tabla .nuevo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lochinvar-400); 
  padding: .5em 1em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  transition: all .3s ease-in-out;
} 
.tabla .nuevo:hover{
  background-color:#ffffff;
  color: #111;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.tabla .regresar{
  background-color: var(--lochinvar-700);
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;
  padding: .5em 1em;
  border-radius: 4px;
  
  transition: all .2s ease-in-out;
}
.tabla .regresar:hover{
  background-color: var(--lochinvar-800);
  box-shadow: .4em .4em .8em #bebebe, -.4em -.4em .8em #ffffff;
}
.table{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
.thead{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  border-bottom: 2px solid #111;
  padding: 1em 0;
  background: #378986;
}
.thead tr{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap ;
}
.thead td{
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
}
.tbody{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tbody{
  width: 100%;
}

.tbody tr{
  width: 100%;
  display: flex;
  align-items: center;
}
.tbody tr td{
  width: 100%;
  display: flex;
  gap: .3em;
  /* background-color: yellowgreen; */
}
/* **************** */
.principal{
  width: 100%;
  display: grid;
  place-items: center;
}
/* ***************** */
/*!!!!!!!!!!!!!!!!!  */
.principal .contenedor__formulario{
  width: 35%;
}
/*!!!!!!!!!!!!!!!!!  */
/*~~~~~~~~~~~~~~~~~ */
.contenedor__formulario h1{
  width: 100%;  
  text-align: center;
  text-transform:uppercase;
  font-weight: 600;
  padding: 1em 0;
  font-size: 1.4em;
  background-color: var(--lochinvar-500);
  color: #f2f2f2  ;
  border-radius: 1.5em 0;
}
.contenedor__formulario form{
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #FFF;
  box-shadow: .4em .4em .8em #bebebe, -.4em -.4em .8em #ffffff;
  border-radius: 10px;
}
/*~~~~~~~~~~~~~~~~~ */
/*???????????????? */
.contenedor__formulario form .titulo{
  width: 100%;
  padding: 1em 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.contenedor__formulario form .titulo input{
  
  border: 2px solid #3230307f;
  border-radius: 6px;
  padding: .4em .7em;
  margin-top: .5em;
  font-weight: 600;

  text-transform: uppercase;
}
.contenedor__formulario form .titulo input:focus{
  border: 2px solid var(--lochinvar-600);
  color: var(--lochinvar-400);
}
/*???????????????? */
/* *************  */
.contenedor__formulario form .inicio__public{
  width: 100%;
  padding: 1em 1em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #efeeee;
}
.contenedor__formulario form .inicio__public input{
  width: 100%;
  border: 2px solid #3230307f;
  border-radius: 6px;
  padding: .4em .7em;
  margin-top: .5em;
  font-weight: 600; 
  text-transform: uppercase;
  outline: none;
}
.contenedor__formulario form .inicio__public input:focus{
  border: 2px solid #378986;
  color: #378986;
}
/* *************  */
.contenedor__formulario form .termino__public{
  width: 100%;
  padding: 1em 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.contenedor__formulario form .termino__public input{
  width: 100%;
  border: 2px solid #3230307f;
  border-radius: 6px;
  padding: .4em .7em;
  margin-top: .5em;
  font-weight: 600; 
  text-transform: uppercase;  
  outline: none;
  transition: all .3s ease-in-out;
}
.contenedor__formulario form .termino__public input:focus{
  border: 2px solid #378986;
  color: #378986;
}
.contenedor__formulario form .abrir{
  width: 100%;
  display: flex;
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  font-weight: 600;
  text-transform: uppercase;
  
  background-color: #efeeee;
}
.contenedor__formulario form .abrir input{
  width: 1em;
  height: 1em;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
  background-color: #fbfbfb;
  border-radius: 4px;
}
.contenedor__formulario form .abrir input:checked{
  background-color: var(--lochinvar-500);
  box-shadow: 0 3px 7px var(--lochinvar-500);
}
.contenedor__formulario form .liga{
    width: 100%;
    font-weight: 600;
    padding: 1em;
    text-transform: uppercase;
}
.contenedor__formulario form .liga input{
  width: 100%;
  border: 2px solid #3230307f;
  border-radius: 6px;
  padding: .4em .7em;
  margin-top: .5em;
  font-weight: 600; 
  text-transform: uppercase;
}
.contenedor__formulario form .mostrar{
  width: 100%;
  display: flex;
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  font-weight: 600;
  text-transform: uppercase;  
  background-color: #efeeee;
}
.contenedor__formulario form .mostrar input{
  width: 1em;
  height: 1em;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fbfbfb;
}
.contenedor__formulario form .mostrar input:checked{
  background-color: var(--lochinvar-500);
  box-shadow: 0 3px 7px var(--lochinvar-500);
}
form .botones{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em; 
  font-weight: 600;
  text-transform: uppercase;
  background-color: #378986;
  color: #FFF;
  border-radius: 0 0 10px 10px;
}
form .botones .cancelar{
  transition: all .2s ease-in-out;
}
form .botones .cancelar:hover{
  color: var(--lochinvar-900);
}
form .botones .registrar{
  transition: all .2s ease-in-out;
  cursor: pointer;
}
form .botones .registrar:hover{
  color: var(--lochinvar-900);
}

.botones input{
  font-weight: 600;
  text-transform: uppercase;
}


/*.principal form .botones .registrar, .principal form .botones .cancelar{
  border: none;
  border-radius: 3px;
  display: block;
  font-size: 1.2em;
  padding: 0.5em 1.2em;
  outline: none;
  cursor: pointer;manita del cursor
  background-color: #7f91b3;
  text-decoration: none;
  color: #FFF;
}