/*formulario de registro*/
.principal{
	width: 60%;
	margin: auto;
	background-color: #fff;
	color: #111;
    box-shadow: 0 1px 10px rgba(0 0 0 /50%)/*sobra del formulario*/
}

.principal form{
  background-color: none;
  width: 82%;
  padding: 0em;
  margin: auto;
}

input[type=text], input[type=date]{
	border: none;
  font-size: 1em;
  width: 100%;
  border-bottom: 1px solid gray;
  outline: none;
  margin-bottom: 0.3em;
  padding: .3em 0.3em;
  text-align: center;
}
.principal form .botones{
  display: flex;
  width: 100%;
  justify-content: space-between;/*dejar espaciado hacia los extremos*/
  margin-top: 1em; 
}
.principal form .botones .registrar, .principal form .botones .cancelar{
  border: none;
  border-radius: 3px;
  display: block;
  font-size: 1.0em;
  padding: 0.4em 0.7em;
  outline: none;
  cursor: pointer;/*manita del cursor*/
}
.principal form .botones .cancelar, .principal form .botones .registrar{
  background-color: #7f91b3;
  text-decoration: none;
  color: #FFF;
}