USE [Administracion]
GO
/****** Object:  Table [dbo].[TCEdificio]    Script Date: 05/08/2024 02:43:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCEdificio](
	[CEDAyuntamiento] [nvarchar](3) NULL,
	[CEDClave] [nvarchar](10) NULL,
	[CEDDescri] [nvarchar](80) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TCPuesto]    Script Date: 05/08/2024 02:43:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TCPuesto](
	[CPUAyuntamiento] [char](3) NULL,
	[CPUClave] [nvarchar](5) NULL,
	[CPUDescri] [nvarchar](90) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TCSexo]    Script Date: 05/08/2024 02:43:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCSexo](
	[CSEClave] [nchar](1) NULL,
	[CSeDescri] [nvarchar](30) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TCTipoIntegra]    Script Date: 05/08/2024 02:43:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TCTipoIntegra](
	[CTIAyuntamiento] [char](3) NULL,
	[CTIClave] [nvarchar](2) NULL,
	[CTIDescri] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TCEdificio] ([CEDAyuntamiento], [CEDClave], [CEDDescri]) VALUES (N'105', NULL, N'"EL ROSARIO')
INSERT [dbo].[TCEdificio] ([CEDAyuntamiento], [CEDClave], [CEDDescri]) VALUES (N'105', N'26707', N'>2024>1"')
INSERT [dbo].[TCEdificio] ([CEDAyuntamiento], [CEDClave], [CEDDescri]) VALUES (N'105', N'25938', N'CASA DEL ADULTO MAYOR- BO. DEL CALVARIO>2024>1')
INSERT [dbo].[TCPuesto] ([CPUAyuntamiento], [CPUClave], [CPUDescri]) VALUES (N'105', N'0', N'No Aplica')
INSERT [dbo].[TCPuesto] ([CPUAyuntamiento], [CPUClave], [CPUDescri]) VALUES (N'105', N'1', N'Comisionado(a) Presidente')
INSERT [dbo].[TCPuesto] ([CPUAyuntamiento], [CPUClave], [CPUDescri]) VALUES (N'105', N'2', N'Comisionado(a)')
GO
INSERT [dbo].[TCSexo] ([CSEClave], [CSeDescri]) VALUES (N'0', N'No Aplica')
INSERT [dbo].[TCSexo] ([CSEClave], [CSeDescri]) VALUES (N'1', N'Mujer')
INSERT [dbo].[TCSexo] ([CSEClave], [CSeDescri]) VALUES (N'2', N'Hombre')
INSERT [dbo].[TCTipoIntegra] ([CTIAyuntamiento], [CTIClave], [CTIDescri]) VALUES (N'105', N'0', N'No aplica')
INSERT [dbo].[TCTipoIntegra] ([CTIAyuntamiento], [CTIClave], [CTIDescri]) VALUES (N'105', N'1', N'Funcionaria(o)')
INSERT [dbo].[TCTipoIntegra] ([CTIAyuntamiento], [CTIClave], [CTIDescri]) VALUES (N'105', N'2', N'Persona servidora pública')
