//?Importar BOOTSTRAP
@import '../../bootstrap/scss/bootstrap.scss';


$Azul-Profundo: #3498db;
$Azul-Profundo-hover:  #2874a6;

$Ambar:  #b7950b;
$Ambar-hover:  #f1c40f;

$Verde:#2ecc71 ;
$Verde-hover: #239b56;

$Rojo: #e74c3c ;
$Rojo-hover:#b03a2e;

$Morado:#9b59b6;
$Morado-hover: #76448a;

$Gris: #95a5a6;
$Gris-hover:#717d7e;

$Naranja:#f39c12;
$Naranja-hover:#b9770e;

$Lima: #65a30d;
$Lima-hover:#3f6212;

$Oscuro:#475569;
$Oscuro-hover:#1e293b;

$Azul:#4f46e5;
$Azul-hover:#3730a3;