@import url(Colores.css);
.card__Not .action,.card__Not .title {
    width:100%;
    transition:.2s ease-in-out
}

.card__content {
    width:100%;
    background-color:var(--Slate-50);
    border:1px solid var(--Gray-300);
    box-shadow:.2em .2em .8em var(--Gray-300)
}
.img__not {
    width:100%;
    object-fit:cover;
    object-position:center;
    background-color:#ff0
}
.img__not img {
    width:100%;
    height:15em
}
.card__Not {
    width:100%;
    padding:1em
}
.card__Not .title {
    color:#111827;
    font-weight:600;
    font-size:1.2em;
    text-transform:uppercase;
    margin-top:.5em
}
.card__Not .title:hover {
    color:var(--Pink-600)
}
.card__content .card__content__text {
    color:var(--Gray-600);
    line-height:2em;
    margin-top:.5em
}
.card__Not .action {
    text-align:center;
    background-color:var(--Pink-500);
    color:var(--Slate-50);
    padding:.4em;
    border-radius:.2em;
    margin-top:.8em
}
.action:hover {
    background-color:var(--Pink-600)
}
@media screen and (max-width:1400px) {
    .card__content__grid {
        display:grid;
        place-items:center;
        grid-template-columns:repeat(2,1fr)
    }
    .card__content {
        width:100%
    }
}
@media (max-width:1020px) {
    .card__content__grid {
        display:grid;
        grid-template-columns:100%
    }
    .img__not img {
        width:100%;
        object-fit:cover;
        object-fit:cover
    }
}