
@media (max-width:1080px) {
    .nav__priv ul {
        display:grid;
        grid-template-columns:repeat(3,1fr)
    }
}
@media (max-width:570px) {
    .nav__priv ul {
        display:grid;
        grid-template-columns:100%
    }
}
