//?Reescribir colores de bootstrap
$verde: #36A420;
$azul: #1877F2;
//?Asignamos la paleta de colores a bootstrap
$success:$verde;
$primary:$azul;
//?Importamos Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';